.table-container {
  max-width: 80%;
  max-height: 500px;
  overflow: auto;
}

table {
  display: block;
  border-collapse: collapse;
  font-size: 16px;
  font-family: Arial, sans-serif;
}

th,
td {
  font-family: 'Inter';
  padding: 12px;
  text-align: left;
  border: 1px solid #ddd;
}

th {
  background-color: #f7f7f7;
  font-weight: bold;
  text-transform: uppercase;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody tr:hover {
  background-color: #ddd;
}

@media screen and (max-width: 600px) {
  table {
    font-size: 14px;
  }

  th,
  td {
    padding: 8px;
  }
}